@keyframes progress-bar-stripes {
  from { background-position: $progress-height 0; }
  to { background-position: 0 0; }
}

.progress {
  display: flex;
  height: $progress-height;
  overflow: hidden; // 角を丸める
  @include font-size($progress-font-size);
  background-color: $progress-bg;
  @include border-radius($progress-border-radius);
  @include box-shadow($progress-box-shadow);
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: $progress-bar-color;
  text-align: center;
  white-space: nowrap;
  background-color: $progress-bar-bg;
  @include transition($progress-bar-transition);
}

// ゼブラ模様
.progress-bar-striped {
  @include gradient-striped();
  // 1番目の値は幅、2番目の値は高さ
  background-size: $progress-height $progress-height;
}

// ゼブラが動くアニメーション
.progress-bar-animated {
  animation: progress-bar-stripes $progress-bar-animation-timing;
  // ユーザがアニメーションを不要なアニメーションを無効にした場合はアニメーションをしない
  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}