
// 色関連
$white: #fff !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$blue: #007bff !default;

// スペース調整
$spacer: 1rem !default;

// borderデフォルト
$border-width: 1px !default;

$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;

// フォント関連
$font-family-sans-serif: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", Helvetica, "Arial", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1.6rem !default;
$line-height-base: 1.5 !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;
$nav-tabs-link-active-color: $gray-700 !default;

$text-muted: $gray-600 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$dt-font-weight: $font-weight-bold !default;



// タグ関連
// body
$body-bg: $white !default;
$body-color: $gray-900 !default;
// h
$headings-margin-bottom: $spacer / 2 !default;
// p
$paragraph-margin-bottom: 1rem !default;
// a
$link-color: $blue !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// table
$table-cell-padding: .75rem !default;
$table-caption-color: $text-muted !default;
// form
$label-margin-bottom: .5rem !default;

// nav
$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: 1rem !default;

$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-border-width: $border-width !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

$nav-pills-border-radius: $border-radius !default; 

$navbar-brand-font-size: $font-size-lg !default;

$nav-link-height: $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;

// navbar
$navbar-padding-y: $spacer / 2 !default;
$navbar-padding-x: $spacer !default;
$navbar-brand-height: $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y: ($nav-link-height - $navbar-brand-height) / 2 !default;

// cards
$card-bg: $white !default;
$card-border-width: $border-width !default;
$card-border-radius: $border-radius !default;
$card-border-color: rgba($black, .125) !default;
$card-spacer-y: .75rem !default;
$card-spacer-x: 1.25rem !default;
$card-color: null !default;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width}) !default;

// grid
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
