{
  "plugins": [
    "stylelint-scss"
  ],
'rules': {
    'at-function-named-arguments': 'never',
    'at-function-parentheses-space-before': 'never',
    'at-import-no-partial-leading-underscore': true,
    'at-mixin-argumentless-call-parentheses': 'always',
    'at-mixin-named-arguments': null,
    'at-mixin-parentheses-space-before': 'never',
    'at-rule-no-unknown': true,
    'dollar-variable-colon-space-after': 'at-least-one-space',
    'dollar-variable-colon-space-before': 'never',
    'dollar-variable-default': [
      true,
      {
        'ignore': 'local'
      }
    ],
    'dollar-variable-no-missing-interpolation': true,
    'media-feature-value-dollar-variable': null,
    'no-duplicate-dollar-variables': [
      null,
      {
        'ignoreInsideAtRules': [
          'if',
          'mixin'
        ]
      }
    ],
    'operator-no-newline-after': true,
    'operator-no-newline-before': true,
    'operator-no-unspaced': true
  }
}